.form__separateContainer {
    padding: 20px;
    border: 1px #f0f0f0 solid;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #00000010;
}

.form__separateContainer--topGap {
    margin-top: 10px;
}

.form__addTaskButton {
    border: none;
    background-color: #008080;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    padding: 10px;
}

.form__addTaskButton:active {
    background-color: #009090;
}

.form__buttons{
    width: 28px;
    height: 28px;
    color: #008000;
    border: 1px #008000 solid;
    background-color: #008000;   
}

.form__buttons--delete {
    color: #ffffff;
    border: 1px #ff0000 solid;
    background-color: #ff0000;   
}

.form__buttons--done {
    color: #ffffff;
}

.form__textDone {
    text-decoration: line-through;
}