.section__titleText {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.section__separateContainer {
    padding: 20px;
    border: 1px #f0f0f0 solid;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #00000010;
}

.section__separateContainer--topGapAndFlex {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__separateContainer--topGapAndFlex {
        grid-template-columns: none;
        grid-template-rows: repeat(3 1fr);
    }
}

.section__buttons {
    border: none;
    background: none;
    color: #008080;
}

.section__buttons:hover {
    color: #00a1a1;
}

.section__buttons:active {
    color: #00b6b6;
}

.section__buttons:disabled {
    color: #808080;
}

.section--hidden {
    display: none !important;
}